<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        let senderId = "<%=senderId%>"
    </script>
    <title>Order book with MilkyWay</title>
    <!-- Latest compiled and minified CSS -->
    <link src="/bootstrap-4.0.0-dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="/js/jquery-3.6.3.min.js"></script>
    <script src="/js/jquery-3.6.3.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="/bootstrap-4.0.0-dist/js/bootstrap.bundle.min.js"></script>
    <!-- Load custom Javascript and CSS-->
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/order-book.js"></script>
</head>


<body>
    <div class="container fix-height">
        <div class="row">
            <div class="col-12">
                <div class="text-center mt-3">
                    <span class="title">Thông tin khách hàng</span>
                </div>
                <input type="text" id="psid" hidden>
                <div class="form-group">
                    <label for="customerName">Họ và tên:</label>
                    <input type="text" id="customerName" class="form-control " placeholder="Họ và tên...">
                </div>
                <div class="form-group">
                    <label for="email">Địa chỉ email (<span style="color: red">*</span>):</label>
                    <input type="email" id="email" class="form-control" placeholder="Địa chỉ email...">
                    <div class="invalid-feedback">Địa chỉ email không hợp lệ.</div>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Số điện thoại (<span style="color: red">*</span>):</label>
                    <input type="text" id="phoneNumber" class="form-control" placeholder="Số điện thoại...">
                    <div class="invalid-feedback">Số điện thoại không hợp lệ.</div>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Địa chỉ (<span style="color: red">*</span>):</label>
                    <input type="text" id="address" class="form-control" placeholder="Địa chỉ...">
                    <div class="invalid-feedback">Địa chỉ không hợp lệ.</div>
                </div>
                <button class="btn btn-primary" id="btnOrderBook"> ORDER BOOK </button>
            </div>

        </div>

    </div>
    <footer>
        <div class="text-center">
            <div class="">
                <span class="mr-3"> &copy; <a title="Xem full tutorial trên Youtube"
                        href="https://www.youtube.com/playlist?list=PLncHg6Kn2JT6oBfsbNTYHWJNkjF3tNpp4"
                        target="_blank">Chatbot Tutorial</a></span>
                <span class="ml-3">
                    Tạo bởi <a href="https://www.youtube.com/channel/UCVkBcokjObNZiXavfAE1-fA?sub_confirmation=1"
                        title="Xem kênh Hỏi Dân IT" target="_blank">HT-CREATER</a>
                </span>
            </div>
        </div>
    </footer>
</body>

</html>

<script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));

    window.extAsyncInit = function () {
        // the Messenger Extensions JS SDK is done loading 

        MessengerExtensions.getContext('544488527636794',
            function success(thread_context) {
                // success
                //set psid to input
                $("#psid").val(thread_context.psid);
                handleClickButtonOrderBook();
            },
            function error(err) {
                // error
                console.log('Error order book MilkyWay bot', err);
                $("#psid").val(senderId);
                handleClickButtonOrderBook();
            }
        );
    };

    //validate inputs
    function validateInputFields() {
        const EMAIL_REG = /[a-zA-Z][a-zA-Z0-9_\.]{1,32}@[a-z0-9]{2,}(\.[a-z0-9]{2,4}){1,2}/g;

        let email = $("#email");
        let phoneNumber = $("#phoneNumber");
        let address = $("#address");

        if (!email.val().match(EMAIL_REG)) {
            email.addClass("is-invalid");
            return true;
        } else {
            email.removeClass("is-invalid");
        }

        if (phoneNumber.val() === "") {
            phoneNumber.addClass("is-invalid");
            return true;
        } else {
            phoneNumber.removeClass("is-invalid");
        }

        if (address.val() === "") {
            address.addClass("is-invalid");
            return true;
        } else {
            address.removeClass("is-invalid");
        }

        return false;
    }


    function handleClickButtonOrderBook() {
        $("#btnOrderBook").on("click", function (e) {
            let check = validateInputFields(); //return true or false

            let data = {
                psid: $("#psid").val(),
                customerName: $("#customerName").val(),
                email: $("#email").val(),
                phoneNumber: $("#phoneNumber").val(),
                address: $("#address").val(),
            };

            if (!check) {
                //close webview
                MessengerExtensions.requestCloseBrowser(function success() {
                    // webview closed
                }, function error(err) {
                    // an error occurred
                    console.log(err);
                });

                //send data to node.js server 
                $.ajax({
                    url: `${window.location.origin}/order-book-ajax`,
                    method: "POST",
                    data: data,
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            }
        });
    }
</script>